@import './../../styles/colors';
@import './../../styles/fonts';

.Hero{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1000px;
    padding: 1% 10%;
    &__info{
        flex-basis: 50%;
        min-width: 300px;
        margin-bottom: 2rem;
        & > h1{
            font-family: $font-secondary;
            font-size: 5.5rem;
            margin-block-end: 2.5rem;
        }
        & > ul{
            margin: 0;
            padding: 0;
            list-style: none;
        }
    }
&__title{
    font-family: $font-secondary;
    margin-bottom: 2rem;
}
&__icon{
    margin-right: 1rem;
}
&__link{
    text-decoration: none;
    color: $color-secondary;
    font-size: 1.25rem;
    &:hover{
        color: $color-primary;
    }
}
&__image{

}
img{
width: 30rem;
height: 30rem;
object-fit: cover;
resize: both;
border-radius: 50%;
}

}